@media screen and (orientation: portrait) {
  html{
    width : 100% ;
    height : 100% ;
    background-color: white ;
    overflow : hidden;
  }
  body{
    width : 100% ;
    height : 100% ;
    overflow : hidden;
  }
  #print{
    position : absolute ;
  }
}
@media screen and (orientation: landscape) {
  html{
    width : 100% ;
    height : 100% ;
    background-color: white ;
  }
  body{
    width : 100% ;
    height : 100% ;
    background-color: white ;
  }
  #print{
    position : absolute ;
    top : 50px ;
    left : 0px ;
    right: 0px;
    /*width : 100% ;*/
    height : 100% ;
  }
}

