<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="home">
    <div style="margin: auto; display: block;">
        <div id="cc" class="easyui-calendar" style="width:20%;height: 240px;"></div>
    </div>
    <div>
        <button class="btn btn-warning xg_but" style="font-size: 40px; display: block; margin: auto;"
                id="attendGo" th:text="${hasAttended?'打卡完毕':'上班打卡'}" th:disabled="${hasAttended}">上班打卡</button>
        <br>
        <br>
        <br>
        <button class="btn btn-warning xg_but" style="font-size: 40px; display: block; margin: auto;"
                id="restGo" th:text="${hasRested?'打卡完毕':'下班打卡'}" th:disabled="${!hasAttended || hasRested}">下班打卡</button>
    </div>
</div>
