<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>总部项目管理工具</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row container-fluid login-top">
            <!--logo-->
            <div class="row">
                <div class="login-top-left col-lg-6 col-md-6 col-xs-6 col-md-offset-3">
                    <div class="login-logo"></div>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-3">
                    <img src="img/kone.jpg" class="img-responsive" alt="Responsive image" style="display: block;
    padding-top: 20px;
    max-width: 32%;
    height: auto;
    float: right;
    padding-right: 20px;">
                </div>
            </div>
            <!--表单-->
            <div class="center-block loginOut" style="padding-top: 24px;">
                <form action="" method="post">
                    <div class="loginArea">
                        <div class="loginArea-part">
                            <p class="loginArea-title">当前计算机账户未认证！</p>
                        </div>
                    </div>
                    <div class="loginArea">
                        <div class="loginArea-part">
                            <p class="loginArea-title">请联系管理员!</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
