<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/nps.css">
    <link rel="stylesheet" href="static/css/task.css">
    <title>Error</title>
</head>
<body>
    <script>
        function go()
        {
            if(self != top) {
            　　window.parent.location.href="login";
            }else{
                location.href="login";
            }
        }
    </script>
    <h1 align="center">用户状态错误</h1>
    <h3 align="center">您的页面渲染失败，可能是由于登录验证失效导致的，请点击下面的按钮重新登录！</h3>
    <h2 align="center"><button class="btn btn-warning xg_but" onclick="go()">重新登录</button></h2>

</body>
</html>
