<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.easyui.min.js"></script>
    <script src="../js/easyui-lang-zh_CN.js"></script>
    <script src="../js/nps.js"></script>
    <script src="../js/user.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/nps.css">
    <link rel="stylesheet" href="../css/task.css">
    <link rel="stylesheet" href="../themes/default/easyui.css" type="text/css"/>
    <link rel="stylesheet" href="../themes/icon.css" type="text/css"/>

    <style>
         tr td {
            padding: 1px;
        }
        .pagination-btn-separator{
            border:none!important;
        }
    </style>
</head>
<body >
    <script>
        var everPost=0;
        $(document).ready(function()
        {
            loadUser();
            $("#searchBtn").click(function(){
                doSearch();
            });
            $("#reloaditem").click(function(){
               loadUser();
            });
            $("#inname").keydown(function(event){
                if (event.keyCode == 13){
                    doSearch();
                    return false;
                }
            });
            $("#inrole").keydown(function(event){
                if (event.keyCode == 13){
                    doSearch();
                    return false;
                }
            });
            $.extend($.fn.validatebox.defaults.rules,
		        {
			    });
            $("#add").dialog({
		    	onOpen:function()
		    	{
		    		$('input.easyui-validatebox').validatebox('disableValidation')
		                .focus(function () { $(this).validatebox('enableValidation'); })
		                .blur(function () { $(this).validatebox('validate') }); //取消验证但在聚焦和失焦时验证
		            document.getElementById("addDiv").style.display="block";
		        },
		        onClose:function()
		    	{	//关闭dialog 隐藏div
		    		document.getElementById("addDiv").style.display="none";
		    	}
		    });
		    $("#update").dialog({
		    	onOpen:function()
		    	{
		    		$('input.easyui-validatebox').validatebox('disableValidation')
		                .focus(function () { $(this).validatebox('enableValidation'); })
		                .blur(function () { $(this).validatebox('validate') }); //取消验证但在聚焦和失焦时验证
		            document.getElementById("updateDiv").style.display="block";
		            var row = $('#tt').datagrid('getSelected');
		    		$("#guid").val(row.guid);
		    		$("#userid").val(row.userid);
		    		$("#password").val(row.password);
		    		$("#roleselectu").val(row.roleGuid);
		    		$("#description").val(row.description);
		    		$("#winName").val(row.winName);
		        },
		        onClose:function()
		    	{	//关闭dialog 隐藏div
		    		document.getElementById("updateDiv").style.display="none";
		    	}
		    });
		    $("#addBtn").click(function(){
                $('#add').dialog('open');
		    	$('#add').window('center');
            });
            $("#ediBtn").click(function(){
                var rows = $('#tt').datagrid('getSelections');
		   		if (rows.length==0) {
		    		$.messager.alert("提示", "您还没选择要修改的数据项!","warning");
		    		return;
		   		}
		    	if (rows.length>1){
		    		$.messager.alert("提示", "一次只能修改单个数据项!","warning");
		    		return;
		    	}
                $('#update').dialog('open');
		    	$('#update').window('center');
            });
            $("#delBtn").click(function(){
                deleteItem();
            });
        });
    </script>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:auto;padding:0">
        <!--顶部查询-->
        <div class="nps_form col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px; border:1px solid #ccc; padding-top:8px;">
            <div class="">
                <form action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 8px;margin-bottom: 4px;">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-left form-group nps_form-group">
                                    <label class="col-sm-2 control-label nps_label" style="text-align:left!important;">用户名:</label>
                                    <div class="col-sm-8 nps_input">
                                        <input id="inname" type="text" class="form-control nps_form-control" value="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-left form-group nps_form-group">
                                    <label class="col-sm-2 control-label nps_label" style="text-align:left!important;">角色类型:</label>
                                    <div class="col-sm-8 nps_input">
                                        <select id="inrole" class="form-control nps_form-control" data-options="editable:false"></select>
                                    </div>
                                </div>
                                <div class="pull-right col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <button id="searchBtn" type="button" class="btn btn-warning xg_but" style="width:100%">查询</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--中间table-->
        <div class="table-responsive nps_table2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--<div id="tb" style="padding:3px">-->
                <!--<table cellpadding="0" cellspacing="0">-->
                    <!--<tr>-->
                        <!--<td><span id="reloaditem" class="easyui-linkbutton" iconCls="icon-reload" plain="true" >刷新</span></td>-->
                        <!--<td><div class="btn-separator"></div></td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->
            <!-- datagridview 开始 -->
            <div>
                <table id="tt" class="easyui-datagrid"
                       url="" toolbar="#tb"
                       title="用户管理" iconCls="icon-save"
                       rownumbers="true" pagination="true">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- datagridview 结束 -->
            <!-- 添加数据div 开始 -->
            <div id="add" class="easyui-dialog" style="width:336px;" data-options="title:'添加数据项',closed:true,modal:true,closable:true,buttons:[
            {
                text:'提交',
                iconCls:'icon-edit',
                handler:function(){
                    if (everPost==1) return false;
                    addItem();
                }
            }]" >
                <div id="addDiv" style="display:none;">
                    <form id="useradd" method="post">
                        <table>
                            <tr>
                                <th>用户名</th>
                                <td><input name="userid" class="easyui-validatebox form-control nps_select" data-options="required:true,missingMessage:'请输入用户名'" /></td>
                            </tr>
                            <tr><th></th><td></td></tr>
                            <tr>
                                <th>密码</th>
                                <td><input name="password" class="easyui-validatebox form-control nps_select" value="00000000" /></td>
                            </tr>
                            <tr><th></th><td></td></tr>
                            <tr>
                                <th>角色类型</th>
                                <td><select name="roleguid" id="roleselecta" class="form-control nps_select" data-options="editable:false" >
                                </select></td>
                            </tr>
                            <tr><th></th><td></td></tr>
                            <tr>
                                <th>中文名</th>
                                <td><input name="description" class="easyui-validatebox form-control nps_select" data-options="required:true,missingMessage:'请输入中文名'" /></td>
                            </tr>
                            <tr><th></th><td></td></tr>
                            <tr>
                                <th>Windows账户</th>
                                <td><input name="winName" class="easyui-validatebox form-control nps_select" data-options="required:true,missingMessage:'请输入windows账户'"/></td>
                            </tr>
                            <tr><th></th><td></td></tr>
                            <tr>
                                <th></th>
                                <input name="creator" th:value="${session.user.userid}" readonly="true" style="display: none" /></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <!-- 添加数据div 结束 -->
            <!-- 修改数据div 开始 -->
            <div id="update" class="easyui-dialog" style="width:336px;" data-options="title:'修改数据项',closed:true,modal:true,closable:true,buttons:[
            {
                text:'提交',
                iconCls:'icon-edit',
                handler:function(){
                    if (everPost==1) return false;
                    updateItem();
                }
            }]" >
                <div id="updateDiv" style="display:none;">
                    <form id="userupdate" method="post">
                        <table>
                            <tr>
                                <th>GUID</th>
                                <td><input id="guid" name="guid" class="easyui-validatebox form-control nps_select" readonly="true" /></td>
                            </tr>
                            <tr><th></th><td></td></tr>
                            <tr>
                                <th>用户名</th>
                                <td><input id="userid" name="userid" class="easyui-validatebox form-control nps_select" data-options="required:true,missingMessage:'请输入用户名'" /></td>
                            </tr>
                            <tr><th></th><td></td></tr>
                            <tr>
                                <th>密码</th>
                                <td><input id="password" name="password" class="easyui-validatebox form-control nps_select" /></td>
                            </tr>
                            <tr><th></th><td></td></tr>
                            <tr>
                                <th>角色类型</th>
                                <td><select name="roleguid" id="roleselectu" class="form-control nps_select" data-options="editable:false" >
                                </select></td>
                            </tr>
                            <tr><th></th><td></td></tr>
                            <tr>
                                <th>中文名</th>
                                <td><input id="description" name="description" class="easyui-validatebox form-control nps_select" data-options="required:true,missingMessage:'请输入中文名'"/></td>
                            </tr>
                            <tr><th></th><td></td></tr>
                            <tr>
                                <th>Windows账户</th>
                                <td><input id="winName" name="winName" class="easyui-validatebox form-control nps_select" data-options="required:true,missingMessage:'请输入windows账户'"/></td>
                            </tr>
                            <tr><th></th><td></td></tr>
                            <tr>
                                <th></th>
                                <td><input name="modifier" th:value="${session.user.userid}" readonly="true" style="display: none"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <!-- 修改数据div 结束 -->
        </div>
        <!--底部按钮-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 4px;margin-bottom: 4px;">
            <div class="pull-left col-sm-3">
                <div class="row col-sm-4">
                    <button id="addBtn" type="button" class="btn xg_but btn-warning col-sm-10">新建</button>
                </div>
                <div class="row col-sm-4">
                    <button id="ediBtn" type="button" class="btn xg_but btn-warning col-sm-10">编辑</button>
                </div>
                <div class="row col-sm-4">
                    <button id="delBtn" type="button" class="btn xg_but btn-warning col-sm-10">删除</button>
                </div>
            </div>
        </div>
        <div class="clear" style="clear:both;"></div>
    </div>
</div>

</body>
</html>
