<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>总部项目管理工具</title>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/nps.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body onLoad="pageload()">
    <script type="text/javascript">
        function check()
        {
            var ck=document.getElementById("remember");
            var username=document.getElementById("username");
            var password=document.getElementById("password");
            if (username.value.length<1 || password.value.length<1) {
                $('#myModal2').modal('show');
                return false;
            }
            var stop=false; //是否终止提交
            jQuery.ajax({
                url: '/user/prelogin',
                type: 'POST',
                async: false,
                timeout: 1000,
                dataType: 'json',
                data: {
                    'username':username.value,
                    'password':password.value,
                    },
                success: function(data) {
                    if (data==null || data=="null") {
                        stop=true;
                        $('#myModal').modal('show');
                    }
                    else {
                        sessionStorage.setItem("user",JSON.stringify(data));
                        getAllChineseNames();
                    }
                },
                error:function(retMsg) {
                   console.log(retMsg);
                }
            });
            if (!stop && ck.checked==true) {
                localStorage.setItem("name", document.getElementById("username").value);
                localStorage.setItem("pwd", document.getElementById("password").value);
            }
            else {
                localStorage.removeItem("name");
                localStorage.removeItem("pwd");
            }
            return !stop; //如果登陆失败则不提交表单
        }
        function pageload()
        {
            var ck=document.getElementById("remember");
            var username=document.getElementById("username");
            var password=document.getElementById("password");
            var name=localStorage.getItem("name");
            if (name!=null) {
                ck.checked=true;
                username.value=name;
                password.value=localStorage.getItem("pwd");
            }
        }
    </script>
    <div class="container-fluid">
        <div class="row container-fluid login-top">
            <!--logo-->
            <div class="row">
                <div class="login-top-left col-lg-6 col-md-6 col-xs-6 col-md-offset-3">
                    <div class="login-logo"></div>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-3">
                    <img src="img/kone.jpg" class="img-responsive" alt="Responsive image" style="    display: block;
    padding-top: 20px;
    max-width: 32%;
    height: auto;
    float: right;
    padding-right: 20px;">
                </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            提示
                        </h4>
                    </div>
                    <div class="modal-body">
                        账号 / 密码 不匹配!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">
                                提示
                            </h4>
                        </div>
                        <div class="modal-body">
                            请输入账号和密码!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!--表单-->
            <div class="center-block loginOut">
                <form action="user/login" method="post" onsubmit="return check()">
                    <div class="loginArea">
                        <div class="loginArea-part">
                            <p class="loginArea-title">系统登录</p>
                        </div>
                        <div class="loginArea-part">
                            <input id="username" name="username" type="text" placeholder="帐号" class="set">
                        </div>
                        <div class="loginArea-part">
                            <input id="password" name="password" type="password" placeholder="密码" class="set">
                        </div>
                        <div class="loginArea-part">
                            <div class="checkbox">
                                <label>
                                    <input id="remember" type="checkbox" style="margin-top: 7px">
                                    <span class="remPw">记住账号</span>
                                </label>
                            </div>
                        </div>
                        <div class="loginArea-part">
                            <button id="btn" type="submit" class="go" >登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>
</html>
