<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>华匀工作室考勤系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/nnps.css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/css/iconfont.css">
    <link rel="stylesheet" href="static/css/aside.css">
    <link rel="stylesheet" href="static/css/nps.css">
    <link rel="stylesheet" href="static/css/task.css">
    <link rel="stylesheet" href="static/themes/default/easyui.css" type="text/css"/>
    <link rel="stylesheet" href="static/themes/icon.css" type="text/css"/>
    <style>
        iframe{
            height:100%;
            width: 100%;
            margin: 0;
            padding:0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background: #2167ad">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand hidden-xs"></span>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="top:10px">
                    </li>
                    <li class="dropdown" style="user-select:none;">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:#fff;text-shadow: none">
                            <i class="iconfont" style="font-size: 25px;float: left;padding-top: 3px;">&#xe692</i>
                            <span id="userid" th:text="${user.userName}" style="margin-left:10px;font-size:16px;">用户名</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="box-shadow: none;transition: all 0s">
                            <li text-align="center"><a id="roleTop" th:text="${user.role}">普通用户</a></li>
                            <li role="separator" class="divider"></li>
                            <!--<li><a href="user/logout" id="logout">退出登录</a></li>-->
                            <li text-align="center"><a id="logout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear" style="clear:both;"></div>
    </nav>
    <div class="container-fluid" style="height:100%;">
        <ul class="aside-menu hidden-xs col-lg-2 col-md-2 col-sm-2" style="float: left;padding-left: 0px;padding-right: 0px;overflow:scroll;user-select:none;">
            <li class="hidden-xs menu-matrixes"><i class="text-right blue-block"></i><span class="iconfont text-right aside-menu-icon">&#xe620;</span><span>考勤接单</span>
                <ul class="dropdown aside-dropdown">
                    <li id="attend" ><span class="iconfont text-right aside-menu-icon">&#xe62f;</span><span>考勤打卡</span></li>
                    <li id="work" ><span class="iconfont text-right aside-menu-icon">&#xe6ca;</span><span>接单时间</span></li>
                </ul>
            </li>
            <li class="hidden-xs menu-matrixes"><i class="text-right blue-block"></i><span class="iconfont text-right aside-menu-icon">&#xe677;</span><span>报表功能</span>
                <ul class="dropdown aside-dropdown">
                    <li id="xmtj" ><span class="iconfont text-right aside-menu-icon">&#xe66e;</span><span>考勤统计</span></li>
                    <li id="grjx" ><span class="iconfont text-right aside-menu-icon">&#xe607;</span><span>个人绩效</span></li>
                </ul>
            </li>
            <li class="hidden-xs menu-matrixes"><i class="text-right blue-block"></i><span class="iconfont text-right aside-menu-icon">&#xe6e7;</span><span>数据管理</span>
                <ul class="dropdown aside-dropdown">
                    <li id="userManage" ><span class="iconfont text-right aside-menu-icon">&#xe692;</span><span>用户</span></li>
                </ul>
            </li>
        </ul>

        <script src="static/js/jquery-3.2.1.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/jquery.easyui.min.js"></script>
        <script src="static/js/easyui-lang-zh_CN.js"></script>
        <script src="static/js/hyas.js"></script>

        <div class="ifArea" th:switch="${url}">
            <div th:case="'home'" th:insert="~{_home :: home}"></div>
            <div th:case="'user'" th:insert="~{_user :: user}"></div>

        </div>
    </div>


<script th:inline="javascript">
    var everPost=0;
    $(document).ready(function()
    {
        $("#logout").click(function(){
            $.messager.confirm("确认", "是否要退出登录?", function (r){
                if (r) {
                    window.opener=null;
                    window.open('','_self');
                    location.href=(contextPath+"/logout");
                    window.close();

                }
            });
        });
    });

</script>
</body>
</html>
