<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xg.hyas.mapper.WorkViewMapper" >
  <resultMap id="BaseResultMap" type="com.xg.hyas.vo.WorkView" >
    <result column="guid" property="guid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    guid, status, start_time,
      end_time, remark, create_time,
      user_id, user_name
  </sql>

  <select id="selectByParams" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from work_view
    where 1=1
    <if test="userId!=null">
      and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="userName!=null">
      and user_name LIKE '%${userName}%'
    </if>
    <if test="startTime!=null and startTime!='' ">
      and start_time &gt;= #{startTime,jdbcType=VARCHAR}
    </if>
    <if test="endTime!=null and endTime!='' ">
      and end_time &lt;= #{endTime,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>